<table class="table table-bordered table-striped">
  <tbody>
  <tr>
    <th>
      <span class="title">Invoice no: </span>
      <span class="text-success">{{ appointment?.appointmentId }}</span>
    </th>
    <th colspan="2">
      <span class="title">Payment status: </span>
      <span class="text-success">{{ paymentStatus | uppercase }} </span>
      <span class="title">(NGN 8,372.00)</span>
    </th>
  </tr>
  <tr>
    <td>
      <span class="title">First name</span> <br>
      {{ appointment?.firstName }}
    </td>
    <td>
      <span class="title">Last Name</span> <br>
      {{ appointment?.lastName }}
    </td>
    <td>
      <span class="title">Gender</span> <br>
      {{ appointment?.gender | titlecase }}
    </td>
  </tr>
  <tr>
    <td>
      <span class="title">Mobile</span> <br>
      {{ appointment?.mobile }}
    </td>
    <td colspan="2">
      <span class="title">Email</span> <br>
      {{ appointment?.email }}
    </td>
  </tr>
  <tr>
    <td>
      <span class="title">Appointment Date</span> <br>
      {{ appointment?.date | date }}
    </td>
    <td>
      <span class="title">From</span> <br>
      {{ appointment?.time }}
    </td>
    <td>
      <span class="title">To</span> <br>
      {{ appointment?.time }}
    </td>
  </tr>
  <tr>
    <td>
      <span class="title">Purpose of visit</span> <br>
      {{ appointment?.purposeOfVisit }}
    </td>
    <td colspan="2">
      <span class="title">Message</span> <br>
      {{ appointment?.message }}
    </td>
  </tr>
  </tbody>
</table>
